:root {
  --font-mono: Consolas, "Andale Mono WT", Menlo, "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-bg: #000;
  --color-fg: #888;
  --color-fg-muted: #333;
  --color-wireframe: #111;
  --color-accent: #fff;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-size: 1em;
  font-family: var(--font-sans);
  line-height: 1.4em;
}

ul {
  list-style-type: square;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  &:hover {
    text-decoration: none;
    color: var(--color-bg);
    background: var(--color-accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-wireframe);
  padding-bottom: 10px;
}

pre {
  padding: 10px;
  border: 1px solid var(--color-wireframe);
  font-family: var(--font-mono) !important;
}

code {
  color: rgb(61, 255, 197);
  background: rgb(0, 37, 27);
  padding: 0 4px;
  font-family: var(--font-mono) !important;
}

hr {
  border: none;
  height: 1px;
  background: var(--color-wireframe);
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;

  .top {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    a {
      margin-right: 10px;
      &.current {
        color: var(--color-fg);
        &:hover {
          color: var(--color-bg);
        }
      }
    }
  }
  .main {
    padding: 10px;

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }

    .posts {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
