@import url("https://fonts.xz.style/serve/inter.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css");

:root {
  --font-mono: "IBM Plex Mono";
  --font-sans: Inter;
  --color-bg: #000;
  --color-fg: #888;
  --color-fg-muted: #333;
  --color-wireframe: #111;
  --color-accent: #fff;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-size: 14px;
  font-family: var(--font-mono);
}

ul {
  list-style-type: square;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  &:hover {
    color: var(--color-bg);
    background: var(--color-accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
  font-weight: 500;
  font-family: var(--font-sans);
  margin: 10px 0;
}

pre {
  padding: 10px;
  border: 1px solid var(--color-wireframe);
}

code {
  color: rgb(61, 255, 197);
  background: rgb(0, 37, 27);
  padding: 0 4px;
  font-family: var(--font-mono);
}

hr {
  border: none;
  height: 1px;
  background: var(--color-wireframe);
}

img {
  max-width: 100%;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid var(--color-wireframe);
  padding: 10px;

  .top {
    border: 1px solid var(--color-wireframe);
    padding: 10px;
    margin-bottom: 10px;
  }
  .main {
    border: 1px solid var(--color-wireframe);
    padding: 10px;

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }

    .posts {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
