@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/source-code-pro.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css");

:root {
  --font-mono: Source Code Pro, monospace;
  --font-sans: Inter, sans-serif;
  --font-size: 14px;
  --line-height-text: 24px;
  --line-height-headings: 36px;
  --s: 20px;

  --link: #000;
  --link-hover: #09f;
  --c-gray-1: #eee;
  --c-gray-2: #ddd;
  --c-gray-3: #bbb;
  --c-gray-4: #999;
  --c-bg: #fff;
  --c-fg: #000;
  @media (prefers-color-scheme: dark) {
    --link: #fff;
    --link-hover: #09f;
    --c-gray-1: #222;
    --c-gray-2: #444;
    --c-gray-3: #666;
    --c-gray-4: #999;
    --c-bg: #000;
    --c-fg: #fff;
  }
}

body {
  margin: 40px;
  padding: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: var(--c-bg);
  color: var(--c-fg);
}

h1 {
  line-height: var(--line-height-headings);
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    color: var(--link-hover);
  }
}

.posts {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--s);
    li {
      list-style-type: none;
      .date {
        font-family: var(--font-mono);
        font-size: 12px;
        color: var(--c-gray-4);
        margin-right: var(--s);
      }
    }
  }
}

code,
pre {
  font-family: var(--font-mono);
}

pre {
  padding: var(--s);
}

code {
  background: var(--c-gray-1);
  padding: 2px;
}

img {
  max-width: 100%;
}

.wrap {
  margin: var(--s);
  padding: var(--s);
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--s);
  .top {
    display: flex;
    gap: var(--s);
    align-items: center;
    a {
      font-weight: 600;
      text-decoration: none;
      &:hover {
        background: none;
        color: var(--link-hover);
      }
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }
  .main {
    text-align: justify;
    :first-child {
      margin-top: 0 !important;
    }
    :last-child {
      margin-bottom: 0 !important;
    }

    img {
      &:first-child {
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //   text-transform: uppercase;
  font-weight: 600;
}

blockquote {
  padding: 20px;
  margin: 0;
  border: 2px solid var(--c-gray-1);
  margin-bottom: 20px;
  font-style: italic;
}

.meta {
  font-weight: 600;
  color: var(--c-gray-3);
}
