<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="wrap">
      {{ if ne "/index.html" .Path }}
      <div class="top">
        <a href="/">~</a>
        {{ range $_, $b := .Breadcrumbs }}
        <span><a href="{{$b.Path}}">{{$b.Base}}</a></span> {{ end }}
      </div>
      {{ end }}
      <div class="main">
        <div class="meta">
          {{ if and ( eq .Dir "blog" ) ( ne .Path "/blog/index.html" ) }}
          {{.Date.Format "Mon Jan _2, 2006" }} {{ end }}
        </div>
        {{ .Content }}
      </div>
    </div>
  </body>
</html>
