<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script async defer data-domain="ruggi.github.io" src="https://plausible.ruggi.xyz/js/plausible.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="top">
        <a class="{{ if eq .Path "index.md" }} current {{ end }}" href="/">Home</a>
        <a class="{{ if eq .Path "projects.md" }} current {{ end }}" href="/projects.html">Projects</a>
        <a class="{{ if eq .Path "3d-prints.md" }} current {{ end }}" href="/3d-prints.html">3D Prints</a>
      </div>
      <div class="main">{{ .Content }}</div>
    </div>
  </body>
</html>
